body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.15rem;
}

header {
  background: #007BFF;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  height: 5rem;
  width: 100%;
}

h1 {
  color: #fff;
}

#mainContent {
  padding: 1.25rem;
  top: 5rem;
  position: relative;
}

#questionContainer {
  margin: 1.25rem auto;
  padding: .625rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
  margin-bottom: 10rem;
}

#question {
  min-height: 5rem;
}

button {
  display: block;
  width: 25rem;
  margin: 1.5rem auto;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, #genreSubmit:hover {
  background-color: #0056b3;
}

#genreForm {
  display: none;
}

#genreSubmit {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

footer p {
  text-align: center;
}
